
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url('https://i.pinimg.com/564x/74/89/42/7489426ef37a9ef59b9b7a2b7b7372f3.jpg');
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px; 
  text-align: left;
}

th {
  background-color: #3c4249; 
  color: #fff;
}

.completed {
  text-decoration: line-through;
  color: #888; 
}

.activity {
  margin-bottom: 10px;
}

.activity-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #3c4249; 
  color: #fff;
  margin-right: 10px;
  border-radius: 50%; 
}

.completed {
  text-decoration: line-through;
  color: #888; 
}

.container {
  max-width: 600px;
  margin: 50px auto; 
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color:#191515; 
  text-align: center; 
}

button {
  cursor: pointer;
  background-color: #3c4249; 
  color: #fff;
  border: none;
  padding: 8px 12px; 
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #004080; 
}

form {
  margin-bottom: 20px;
  text-align: center; 
}

input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #191515;
}

input[type="text"]:focus {
  outline: none;
  border-color: #3c4249; 
}

label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.checkbox-label {
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox:checked + .checkbox-label::before {
  content: "\2713";
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}

.checkbox-label::before {
  content: "\2610";
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}

.checkbox:checked + .checkbox-label {
  color: #0056b3; 
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #888;
}

.container {
  padding-bottom: 60px; 
}

.footer {
  position: fixed;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: #bcc7c5;
  padding: 20px;
  text-align: center;
}

.footerHover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

@keyframes animate {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}